.section1 {
  margin-top: 43px;
}

.section1-img img {
  width: 100%;
  display: flex;
}

@media (max-width: 375px) {
  .section1 {
    display: flex;
    margin-top: 2.2rem;
  }

  .section1-img img {
    width: 100%;
  }
}
